@import "fonts";
@import "colors";
@import "partials";

.expenses-main-container {
  font-size: 14px;
  .income-row {
    border-bottom: none !important;
    td {
      padding: 5px 0px;
    }
    .amount {
      color: $darkBlue;
    }
  }

  .expense-row {
    border-bottom: none !important;
    .amount {
      color: $red;
    }
  }
  .icons-main-container {
    @include flex-center;
    .icon-container {
      background-color: $darkGray;
      height: auto;
      padding: 5px;
      @include flex-center;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
    }
    .icon-container2 {
      background-color: $lightRed;
      height: auto;
      padding: 5px;
      @include flex-center;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .category {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }
  .date,
  .description {
    color: $textGray;
  }
}

.nothing-main-container {
  @include flex-center;
  flex-direction: column;
  margin-top: 6rem;
}
