@import "partials";
@import "colors";

.create-source-of-money-main-container {
  padding-bottom: 1rem;
  .buttons-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    button {
      background-color: $yellow;
      color: $white;
    }
  }
}

.error {
  font-weight: 400;
  color: #ff0000;
  font-size: 12px;
}
